In [2]:
import pandas as pd
import numpy as np
import math

# Data

In [3]:
txt=[
    "Good Boy",
    "Good Girl",
    "Good Boy Girl"
]

# Tokenization

In [5]:
def split_data(txt):
    data=[]
    for i in txt:
        data.append(i.split(" "))
    return data

# Find Unique Words From Data

In [6]:
def all_txt_list(data):
    temp=[]
    for i in data:
        for j in i:
            if j not in temp:
                temp.append(j)
    return temp

In [8]:
# all_txt_list(data)

# Term-Frequency(TF) Function

In [13]:
def Term_Frequency(data):
    Tf_full=[]
    all_txt=all_txt_list(data)
#     print(all_txt)
    for i in data:
        tf=[]
        for j in range(len(all_txt)):
            tf.append(i.count(all_txt[j])/len(i))
        Tf_full.append(tf)
#             print(j)
#             print(i,j,all_txt[j],i.count(all_txt[j])/len(i))
    return Tf_full,pd.DataFrame(data=Tf_full,columns=all_txt)

In [10]:
# tf_mat,df=Term_Freqency(data)

In [266]:
# df

       Good       Boy      Girl
0  0.500000  0.500000  0.000000
1  0.500000  0.000000  0.500000
2  0.333333  0.333333  0.333333

# Inverse-Document Function

In [8]:
def ID_Freq(data):
    Id_list=[]
    all_txt=all_txt_list(data)
    for i in (all_txt):
        count=0
        for j in data:
            count+=j.count(i)
        print(i,math.log(len(txt)/count))
        Id_list.append(math.log(len(txt)/count))
    return Id_list
# Id_vect=ID_Freq(data)
# print(Id_vect)

In [270]:
# Id_vect
#Good , Boy , Girl

[0.0, 0.4054651081081644, 0.4054651081081644]

In [236]:
# TF_IDF

array([[0.        , 0.20273255, 0.        ],
       [0.        , 0.        , 0.20273255],
       [0.        , 0.13515504, 0.13515504]])

# TF-IDF Function

In [14]:
def Calculate_TF_IDF(txt):
    print(txt)
    data=split_data(txt)
    print("---------Term Frequency---------\n")
    tf_mat,df=Term_Frequency(data)
    print(df)
    print("\n-------Inverse Document------------\n")
    Id_vect=ID_Freq(data) ##Good , Boy , Girl
    print("\n-------TF-IDF---------------\n")
    TF_IDF=np.array(tf_mat)*np.array(Id_vect)
    print(pd.DataFrame(data=TF_IDF,columns=["Good","Boy","Girl"]))
Calculate_TF_IDF(txt)

['Good Boy', 'Good Girl', 'Good Boy Girl']
---------Term Frequency---------

       Good       Boy      Girl
0  0.500000  0.500000  0.000000
1  0.500000  0.000000  0.500000
2  0.333333  0.333333  0.333333

-------Inverse Document------------

Good 0.0
Boy 0.4054651081081644
Girl 0.4054651081081644

-------TF-IDF---------------

   Good       Boy      Girl
0   0.0  0.202733  0.000000
1   0.0  0.000000  0.202733
2   0.0  0.135155  0.135155